table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th,td {
    padding: 0 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

tr:last-child {
    text-align: left;
    background-color: #8dec8d;
}

tr:last-child td {
    border-right: none;
}

input {
    width: 80px;
}

input:invalid {
    border: 3px solid red;
}