* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvatica, sans-serif;
    background: #E6E6E6 url("../fotos/pagebackground.png") repeat-y center top;
}

#container {
    width: 960px;
    margin: auto;
}

header {
    min-height: 200px;
    background: url("../fotos/bgsky3.jpg");
    text-align: center;
    position: relative;
    color: darkblue;
}

header img {
    position: absolute;
    right: 90px;
    bottom: 60px;
}

h1 {
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-size: 240%;
    font-weight: bold;
    margin-top: 50px;
}

aside {
    width: 250px;
    float: right;
    background-color: #dddddd;
    border: 1px solid #999999;
    color: #666666;
    font-size: 90%;
}

aside h3 {
    font-size: 120%;
    color: #fff;
    background: blue;
    text-align: center;
    margin: 1.3em 0;
}

aside p {
    padding: 0 10px;
}

.main {
    width: 700px;
    float: left;
}

.introduction>.logo {
    float:left;
    width : 140px;
    box-sizing:border-box;
    padding : 20px 20px;
}

.introduction>.text  {
    float:left;
    box-sizing:border-box;
    width:560px;
    padding : 20px 30px 20px 0;
    margin:0;
    background-color: white;
    color:black;
    font-size: 90%;
    text-align:justify;
}

.introduction>.text span {
    font-style:italic;
    color: blue;
    font-weight:bold;
}

.gallery {
    clear: both;
    background-color: #999999;
    padding : 10px 0 10px 10px;
}

.gallery .photo {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px dotted #999;
    margin: 10px 10px;
    box-sizing: border-box;
}

.photo>img{
    padding: 10px;
}

.bottom {
    clear: both;
    background-color: #666;
    padding: 20px 0;
}

.block {
    display: inline-block;
    color: #fff;
    margin-left: 120px;
    line-height: 2em;
}

.block a:link,
.block a:visited {
    text-decoration: none;
    color: #fff;
}

.block a:hover,
.block a:active {
    color: red;
}

.copyright p {
    text-align: center;
    font-size: 70%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fff;
}