html {
    /*font-size: 62.5%;*/
    margin: 0;
    padding: 0;
}

body {
    font: 1.2em Verdana, Helvatica, Arial, sans-serif;
    width: 95%;
    margin: auto;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

header {
    text-align: center;
}

.specials {
    width: 30%;
    float: right;
    border: 1px solid #007e7e;
    box-sizing: border-box;
    padding: 2%;
    text-align: center;
    line-height: 1;
    background: url("../images/cocktail.gif") repeat-x;
}

.specials h1 {
    color: #000;
}

.specials h2 {
    color: #d12c47;
}

.specials a:link {
    color: #007e7e;
}

.specials a:hover {
    background: #836953;
    color: #fff
}

.content {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-right: 8px;
}

#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444444;
    padding: 25px 25px 25px 80px;
    margin: 30px;
    background: #a7cece url("../images/background.gif") no-repeat top left;
    border: 1px dashed #fff;
}

a:link {
    color: #007e7e;
}

a:visited {
    color: #333333;
}

footer {
    clear: both;
    text-align: center;
    font-size: 0.5em;
}